@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Righteous&display=swap');

:root {
  /* Colors */
  --grey: #101010;
  --black: #000000;
  --white: #EEEEEE;
  --dark-orange: #CF0A0A;
  --light-orange: #DC5F00;
  --html-color: #E34F26;
  --css-color: #1572B6;
  --js-color: #F7DF1E;
  --ts-color: #007ACC;
  --nodejs-color: #3C873A;
  --react-color: #61DAFB;
  --redux-color: #1c2c5b;
  --git-color: #F05032;
  --tailwindcss-color: #06B6D4;
  --scss-color: #CC6699;
  /* typography */
  --type-principal: 'Outfit', sans-serif;
  --type-secondary: 'Righteous', cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--type-principal);
  color: var(--white);
  background: var(--black);
  hyphens: auto;
  font-smooth: always;
}