/* Variables */
$border-radius: .3rem;
$transition-linear: all .1s linear;
$transition-ease-in-out: all .1s ease-in-out;
$scale: 1.1;

/* Colors */
$grey: #202020;
$black: #000000;
$white: #EEEEEE;
$dark-orange: #CF0A0A;
$light-orange: #DC5F00;
$html-color: #E34F26;
$css-color: #1572B6;
$js-color: #F7DF1E;
$ts-color: #007ACC;
$nodejs-color: #3C873A;
$firebase-color: #FFCA28;
$express-color: #FF3333;
$prisma-color: #4a4d53;
$mySql-color: #0078BB;
$react-color: #61DAFB;
$redux-color: #1C2C5B;
$git-color: #F05032;
$tailwindcss-color: #06B6D4;
$scss-color: #CC6699;

/* typography */
$type-principal: 'Outfit';