@import 'variables';

.about__container {
  background: $grey;
  border-radius: .3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;

  .about__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    .about___info__h3 {
      font-size: 2em;

      .about__info__h3__span {
        color: $dark-orange;
      }
    }

    .about__info__p {
      font-size: 1.1em;

      .about__info__span {
        color: $dark-orange;
      }
    }
  }

  .about__skills {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .about__skills__h3 {
      font-size: 2em;
      color: $dark-orange;
    }

    .about__skills__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      .about__skill {
        font-size: 2rem;
        transition: $transition-ease-in-out;

        &:hover {
          transform: scale($scale);
          transition: $transition-linear;
        }
      }

      .skill-html:hover {
        color: $html-color;
      }

      .skill-css:hover {
        color: $css-color;
      }

      .skill-js:hover {
        color: $js-color;
      }

      .skill-ts:hover {
        color: $ts-color;
      }

      .skill-nodejs:hover {
        color: $nodejs-color;
      }

      .skill-firebase:hover {
        color: $firebase-color;
      }

      .skill-react:hover {
        color: $react-color;
      }

      .skill-redux:hover {
        color: $redux-color;
      }

      .skill-git:hover {
        color: $git-color;
      }

      .skill-tailwindcss:hover {
        color: $tailwindcss-color;
      }

      .skill-scss:hover {
        color: $scss-color;
      }
    }
  }

  .about__buttons__container {
    display: flex;
    gap: .3rem;

    .about__contact__button {
      cursor: pointer;
      background: $black;
      border: .15rem solid transparent;
      border-radius: .3rem;
      padding: .5rem;
      transition: $transition-linear;

      &:hover {
        border-color: $dark-orange;
        transition: $transition-linear;
      }

      .about__contact__a {
        font-size: 1.2em;
      }
    }

    .about__button__linkedIn:hover {
      border-radius: 50% 0 0 50%;
    }

    .about__button__gitHub:hover {
      border-radius: 0 50% 50% 0;
    }

    .about__button {
      cursor: pointer;
      background: $black;
      border: .15rem solid transparent;
      border-radius: .3rem;
      padding: .5rem 1.5rem;
      transition: .2s;

      &:hover {
        border-color: $dark-orange;
        transition: .2s;
      }
    }
  }
}

@media (min-width: 768px) {
  .about__container {
    max-width: 38rem;

    .about__skills {
      .about__skills__container {
        .about__skill {
          font-size: 3rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .about__container {
    max-width: 42rem;

    .about__info {
      .about___info__h3 {
        font-size: 3em;
      }
    }

    .about__skills {
      .about__skills__h3 {
        font-size: 3em;
      }

      .about__skills__container {
        .about__skill {
          font-size: 3.2rem;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .about__container {
    max-width: 42rem;

    .about__info {
      .about___info__h3 {
        font-size: 4em;
      }

      .about__info__p {
        font-size: 1.3em;
      }
    }

    .about__skills {
      .about__skills__h3 {
        font-size: 4em;
      }

      .about__skills__container {
        padding: 1rem 4rem;

        .about__skill {
          font-size: 4rem;
        }
      }
    }
  }
}