.nav__container {
  background: var(--black);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  .nav__logo {
    .nav__img {
      width: 5rem;
    }
  }

  .nav__ul {
    display: flex;
    gap: 2rem;
  }
}

@media (min-width: 1440px) {
  .nav__container {
    .nav__logo {
      .nav__img {
        width: 7rem;
      }
    }

    .nav__ul {
      font-size: 1.5em;
      display: flex;
      gap: 2rem;
    }
  }
}